[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[build.nixpacks]
installCmd = "npm install"
buildCmd = "npm run build"

[environments.*.variables]
NODE_ENV = "production"
NEXT_PUBLIC_API_BASE_URL = "${{ NEXT_PUBLIC_API_BASE_URL }}"
NEXT_PUBLIC_MAPTILER_API_KEY = "${{ NEXT_PUBLIC_MAPTILER_API_KEY }}"